.content__reservations{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;

    &__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h3{
            color: var(--white);
        }

        &__actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            column-gap: 10px;
            width: 100%;

            .btn-refresh {
                width: 30px;
                height: 30px;
                background-image: url("/assets/icons/refresh-cw.svg");
                background-position: center;
                background-size: 20px;
                background-repeat: no-repeat;
            }

            .btn-add{
                width: 30px;
                height: 30px;
                background-image: url("/assets/icons/plus.svg");
                background-position: center;
                background-size: 20px;
                background-repeat: no-repeat;
            }
        }
    }


    &__body{
        min-width: 100%;
        width: 100%;
        max-width: 100%;


        &__table {
            display:  grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: 35px;
            background-color: var(--white);

            padding: 10px;
            border-radius: var(--border_radius);

            &__header{
                text-align: center;
                border-top: 1px solid var(--bg_primary);
                border-bottom: 1px solid var(--bg_primary);
                min-height: 35px;
                height: 35px;
                max-height: 35px;
                line-height: 35px;
            }

            &__body{
                text-align: center;
                border-bottom: 1px solid var(--bg_primary);
                min-height: 35px;
                height: 35px;
                max-height: 35px;
                line-height: 35px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;


                button{
                    min-width: 24px;
                    width: 24px;
                    max-width: 24px;
                    min-height: 24px;
                    height: 24px;
                    max-height: 25px;
                    margin-top: 5.5px;
                    background-image: url("/assets/icons/eye.svg");
                    background-position: center;
                    background-size: 20px;
                    background-repeat: no-repeat;
                }
            }


        }

    }

}


.overlay__reservations{
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.8s ease all;

    &__popup {
        background-color: var(--white);
        min-width: min( 100% - 10%, 600px);
        width: min( 100% - 10%, 600px);
        max-width: min( 100% - 10%, 600px);
        box-shadow: 0 0 2px var(--bg_primary);
        border-radius: var(--border_radius);
        padding: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        &__header{
            display: flex;
            justify-content: space-between;
            align-items: center;


            h3{
                color: var(--bg_primary);
            }

            button {
                min-width: 24px;
                width: 24px;
                max-width: 24px;
                min-height: 24px;
                height: 24px;
                max-height: 24px;
                background-image: url("/assets/icons/close.svg");
                background-size: 18px 18px;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 50%;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
    }
}


.overlay__reservations__active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}
