<nav class="navbar">
    <div class="navbar__header">
        <img src="/assets/images/logo.webp" class="navbar__header__icon" alt="">
        <p>Dashboard</p>
    </div>

    <ul class="navbar__body">
        @if(isUser){

            <li>
                <a routerLink="/usuario/">Inicio</a>
            </li>
    
            <li>
                <a routerLink="/usuario/perfil">profile</a>
            </li>
        }

        @if(isAdmin){

            <li>
                <a routerLink="/administrador/">Inicio</a>
            </li>
    
            <li>
                <a routerLink="/administrador/perfil">profile</a>
            </li>
        }

        <li>
            <a (click)="handleCloseSession()">cerrar sesion</a>
        </li>
    </ul>
</nav>
