.navbar__movile{
    display: none;
    width: 100%;
    height: 35px;
    max-height: 30px;
    margin-bottom: 10px;

    button {
        background-color: transparent;
        background-image: url("/assets/icons/menu.svg");
        background-position: left;
        background-size: 30px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-start;


        &::after{
            content: "menu";
            display: block;
            margin-left: 35px;
            color: var(--white);
        }

    }
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-right: 1px solid var(--white);



    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            row-gap: 10px;

            &__icon{
                height: 45px;
                margin-left: calc(0px - 21px);
            }

            p {
                color: var(--white);
                font-size: 16px;
                font-family: var(--font_bold);
            }
        }


        &__close{
            display: none;
            button{
                min-width: 24px;
                width: 24px;
                max-width: 24px;
                min-height: 24px;
                height: 24px;
                max-height: 24px;
                background-color: transparent;
                background-image: url("/assets/icons/close.svg");
                background-position: center;
                background-size: 20px;
                background-repeat: no-repeat;
                border: 1px solid var(--white);
                border-radius: 50%;
            }
        }





    }

    &__body {
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        li {
            align-items: center;
            a{
                display: inline-flex;
                flex-direction: row;
                column-gap: 5px;
                width: 100%;
                color: var(--white);
                padding: 5px 0;
                justify-content: flex-start;
                align-items: center;

                &:hover{
                    border-bottom: 1px solid var(--white);
                }
            }

            .link::before {
                content: "";
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 18px;
                height: 24px;
                width: 24px;

            }

            .link_home::before{
                background-image: url("/assets/icons/home.svg");
            }

            .link_profile::before {
                background-image: url("/assets/icons/user.svg");
            }

            .link_close::before{
                background-image: url("/assets/icons/log-out.svg");
            }

        }
    }


}


@media screen and ( max-width: 1300px ){
    .navbar__movile {
        display: block;
    }

    .navbar {
        margin: 0;
        padding: 20px 20px;
        inset: 0;
        position: fixed;
        background-color: var(--bg_primary);
        opacity: 0;
        visibility: visible;
        display: flex;
        min-width: 300px;
        width: 300px;
        max-width: 300px;
        transform: translateX(-100%);
        transition: 0.5s ease all;

        &__header{
            &__close {
                display: block;
            }
        }
    }
}


.navbar__active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
