.content__alert {
    position: fixed;
    width: 300px;
    min-height: min-content;
    max-height: max-content;
    backdrop-filter: blur(26px);
    top: 20px;
    left: calc(100% - 330px);
    overflow: hidden;
    border-radius: var(--border_radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    transition-behavior: initial;
    opacity: 0;
    visibility: visible;
    transform: translateX(100%);
    transition: 0.8s ease all;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }

    &__body {
        font-size: 14px;
    }
}



.content__alert__danger {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    border: 1px solid red;
    color: red;

    .content__alert__header{
        border-bottom: 1px solid red;
    }
}


.content__alert__success {
    opacity: 1;
    visibility: visible;
    border: 1px solid var(--bg_button);
    color: var(--bg_button);
    transform: translateX(0%);
    
    .content__alert__header{
        border-bottom: 1px solid var(--bg_button);
    }
}