@font-face {
  font-family: "Ubuntu-Light";
  src: url("../../public/assets/fonts/Ubuntu-Light.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu-medium";
  src: url("../../public/assets/fonts/Ubuntu-Medium.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../../public/assets/fonts/Ubuntu-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}