.content__university {
    width: 50px;
    height: 50px;
    position: fixed;
    left: calc(100% - 75px);
    top: calc(100% - 75px);
    background-image: url("/assets/images/university.ico");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid var(--white);
}