/* You can add global styles to this file, and also import other style files */
@use "./styles/fonts.scss";

:root {
    --bg_primary: #0D1B2A;
    --white: white;
    --bg_button: #28A745;
    --font_light: "Ubuntu-Light";
    --font_medium: "Ubuntu-Medium";
    --font_bold: "Ubuntu-Bold";
    --border_radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    inset: 0;
    box-sizing: border-box;
    font-family: var(--font_light);
    text-transform: capitalize;
}

html,
body,
app-root{
  height: 100%;
  margin: 0;
  background: var(--bg_primary);
}

app-root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

main {
  flex: 1;
  padding: 1px;
  min-width: 90%;
  width: 90%;
  max-width: 90%;
  height: auto;
  margin: auto;
}

h1{
    width: 100%;
    font-size: clamp(1.5rem, 5vw, 3rem);
    text-align: center;
}

h1,
label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.form__control {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    width: 100%;


    input,
    select {
        height: 30px;
        padding: 5px 8px;
        border: 1px solid var(--bg_primary);
        border-radius: var(--border_radius);
        outline-color: var(--bg_primary);
    }

    input[type="email"]{
        text-transform: lowercase;
    }

    input[type="password"]{
        text-transform: lowercase;
    }
    
    .error__content {
        color: red;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}


a{
    text-decoration: none;
    color: var(--bg_primary);
    cursor: pointer;
}


button {
    min-height: 35px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: var(--border_radius);
    cursor: pointer;
    transition: 0.5s ease all;
    font-size: 16px;
}

.btn-primary {
    background-color: var(--bg_button);
    color: var(--white);
}


.btn-icon {
    min-width: 25px;
    width: 25px;
    max-width: 25px;
    min-height: 25px;
    height: 25px;
    max-height: 25px;
    border-radius: 50%;
    background-color: transparent;
}

.logo {
    height: 75px;
}