:host{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    column-gap: 10px;
    padding: 50px 0;
    
}

.content__dashboard {
    width: 100%;
    padding: 0 0 0 20px;
}