.content__sport__venues {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-bottom: 1px solid var(--white);
    padding-bottom: 10px; 

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3 {
            color: var(--white);
        }

        button {
            width: 30px;
            background-color: var(--bg_button);    
            background-image: url("/assets/icons/plus.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
        }
    }
    
    &__body{
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        overflow: auto hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--white) var(--bg_primary) ;
        padding-bottom: 10px;

        &::-webkit-scrollbar {
            height: 6px;
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            
            border-radius: var(--border_radius);
        }

        &::-webkit-scrollbar-thumb {
            
            border-radius: 10px;
        }

        &__card{
            min-width: 200px;
            width: 200px;
            min-height: 150px;
            max-height: 200px;
            border-radius: var(--border_radius);
            padding: 10px;
            background-color: transparent;
            border: 1px solid var(--white);
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            cursor: pointer;
    
            img {
                width: 100%;
                height: 100px;
                border-radius: var(--border_radius);
            }
    
    
            &__information {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
    
                &__title {
                    color: var(--white);
                }
    
                button {
                    min-height: 25px;
                    height: 25px ;
                    max-height: 25px ;
                    width: 25px;
                    background-color: var(--bg_button);
                    background-image: url("/assets/icons/eye.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 20px;
                }
            }
        }
    }

}

.overlay__sport__venues {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: 0.8s ease all ;
    

    &__popup {
        min-width: min( 100% - 10%, 600px);
        width: min( 100% - 10%, 600px);
        max-width: min( 100% - 10%, 600px);
        max-height: 382px;
        background-color: var(--white);
        border-radius: var(--border_radius);
        padding: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        box-shadow: 0 0 10px var(--bg_primary);
        

        &__title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            h3 {
                color: var(--bg_primary);
            }

            button {
                min-height: 25px;
                height: 25px;
                max-height: 25px;
                width: 25px;
                background-color: var(--bg_button);
                background-image: url("/assets/icons/close.svg");
                background-repeat: no-repeat;
                background-size: 20px;
                border-radius: 50%;
                background-position: center;
                cursor: pointer;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
        }
    }
}


.overlay__sport__venues__active {
    opacity: 1;
    visibility: visible;   
    transform: translateY(0%); 
}