.content__sport__venues {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-bottom: 1px solid var(--white);
    padding-bottom: 10px; 

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3 {
            color: var(--white);
        }

        button {
            width: 30px;
            background-color: var(--bg_button);
        }
    }


    &__card{
        width: 200px;
        min-height: 150px;
        max-height: 200px;
        border-radius: var(--border_radius);
        padding: 10px;
        background-color: transparent;
        border: 1px solid var(--white);
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100px;
            border-radius: var(--border_radius);
        }

        &__title {
            color: var(--white);
        }

        &__actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            button {
                height: 20px;
                width: 50px;
            }
        }
    }
}